
$white: #fff;
$black: #000;
$black_light: #11101d;
$grey : #F5F5F9;
$light_grey : #828282;
$dark_grey: #AFAFAF;
$blue : #065AA4;

$subMenuBackgroundOnActive : #5B5B5B;
$subMenuColorOnActive : #D9D9D9;
$sidebarBackground : #272B36;